<div class="mt-5">
    <div class="text-center">
        <div class="text-primary">
            <h1> Andrés Macías Carrillo </h1>        
        </div>
        <br>
        <code>
            <a target="_blank" class="text-dark" href="https://bitbucket.org/%7Bd8626e03-4f03-49c4-8ac1-ef0ae1c4f212%7D/"> Mi Perfil de Bitbucket</a>
            <br>
            <a target="_blank" class="text-dark" href="https://www.linkedin.com/in/andr%C3%A9s-mac%C3%ADas-7bb100170/"> Mi Perfil de linkedin </a>    
        </code>
    </div>
</div>